div {
  text-align:center;
  line-height:125px;
  font-family: 'Brush Script MT', cursive;
}
body{
  margin: 0;
}
.my-bio{
  background-color: oldlace;
  width:250px;
  height:250px;
}
.my-photo{
  background-color: mistyrose;
  margin-left:900px;
  margin-top:-250px;
  width:250px;
  height:250px;
}
.my-education-history{
  background-color: lightpink;
margin-left:450px;
width:250px;
height:250px;
}
.my-hobbies{
  background-color: hotpink;
  width:250px;
  height:250px;
}
.contact-me{
  background-color: lightcoral;
margin-left:900px;
margin-top:-250px;
width:250px;
height:250px;
}
p{
  display: inline-block;
}
div.p{
  text-align: center;
}
a{
  display: block;
  width: 250px;
  height:250px;
}
.my-bio:hover{
  background-color: cornsilk
}
.my-photo:hover{
  background-color: bisque
}
.my-education-history:hover{
  background-color:Palevioletred
}
.my-hobbies:hover{
  background-color: deeppink
}
.contact-me:hover{
  background-color: indianred
}
